body{
    background-color: rgb(26, 33, 41);
}

h1{
    text-align: center;
    color:rgb(175, 35, 35);

}

h2{
    color:rgb(8, 75, 169);
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:antiquewhite;
}